{% extends 'base.html' %}

{% block title %} Измерительное оборудование {% endblock %}

{% block content %}


<div class ="rightcolon">
	<h2 style="padding-left: 50px;
padding-top: 50px">База данных:{{form_data.0.equipment}}</h2>

<form method="post">
{% csrf_token %}
<h3 style="padding-left:30px">Оборудование: {{form.equipment}} <input class="button7" type="submit"  value = "Поиск"></h3>


</form>

{% if form_data %}
<table id = "table" style="padding-left: 30px; padding-top:10px">

<tr><th>Вес</th><th>Дл.окр.№1</th><th>Дл.окр.№2</th><th>PD</th><th>Vent</th><th>Дата</th><th>Время</th><th>Специалист</th>

{% for e in form_data %}
	<tr>

		<td>{{e.weight}}</td>
		<td>{{e.size_one}}</td>
		<td>{{e.size_two}}</td>
		<td>{{e.airPD}}</td>
		<td>{{e.airVent}}</td>
		<td>{{e.data_messure}}</td>
		<td>{{e.time_messure}}</td>
		<td>{{e.name_user}}</td>




	</tr>
	{% endfor %}



</table>



{% endif %}







</div>








<script>
trcolor=table.children[0];

for (let i=1; i<trcolor.childElementCount; i++)

{
trcolor.children[i].bgColor="MediumSeaGreen";
i++;

}
</script>





 {% endblock %}