{% extends 'base.html' %}

{% block title %} Измерительное оборудование {% endblock %}

{% block content %}

<div class ="rightcolon">
<h2 style="padding-left: 50px;
padding-top: 50px">Калибровка:{{text}}</h2>


<a href="firstday" class="button7">Первый калибровочный день</a>
<a href="secondday" class="button7">Второй калибровочный день</a>

<h3></h3>
<label style = "padding-left:30px">Поиск</label>
<input type = "text" id = "elastic" >




<form method="post">
{% csrf_token %}



<table  id = "table" style="padding-left: 30px; padding-top:10px">
<tr class = "first_tr"><th>Оборудование</th><th>Вес</th><th>Дл. окр. №1</th><th>Дл. окр. №2</th><th>PD</th><th>Vent</th><th>Отключена</th></tr>
{% for e in context %}
<tr  height ="35">
  <td>{{e.equipment_name.label}}{{e.equipment_name.as_hidden}}</td>
  <td>{{e.weight_value}}</td>
  <td>{{e.size_one_value}}</td>
  <td>{{e.size_two_value}}</td>
  <td>{{e.airPd_value}}</td>
  <td>{{e.airVent_value}}</td>
  <td><input type="checkbox" onclick = "ClickOff(this)"></td>
</tr>
{% endfor %}

</table>
<input id="save1" type="submit"  value = "Сохранить" style="margin-left: 30px" >

</form>

<p id = "not" class = "hide" style="margin-left:50px">Совпадений не найдено</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
tablemain=table.children[0];

for (let i=1; i<tablemain.childElementCount; i++ )


{ tablemain.children[i].children[1].children[0].step=0.001;
  tablemain.children[i].children[1].children[0].size=1;
  tablemain.children[i].children[3].children[0].step=0.01;
  tablemain.children[i].children[4].children[0].step=1;
  tablemain.children[i].children[5].children[0].step=0.1;
  str = tablemain.children[i].children[0].textContent;
  if (str.match(/SDL/) == null)
  {tablemain.children[i].children[2].children[0].step=0.01;}
  else
  {tablemain.children[i].children[2].children[0].step=0.001;
  tablemain.children[i].children[3].children[0].disabled=true;}

}

trcolor=table.children[0];

for (let i=1; i<trcolor.childElementCount; i++)

{
trcolor.children[i].bgColor="MediumSeaGreen";
i++;

}

   document.addEventListener('wheel', function(event)
    {

    console.log(event.deltaX, event.deltaY);
});


function ClickOff(a) {


      row=a.parentNode.parentNode.rowIndex;
      bool = a.checked;


      stroke = tablemain.rows[row];

      for (let i = 0; i < 6; i++)
        {
          if (stroke.children[i].children[0].value != "")
          {
          stroke.children[i].children[0].disabled=bool;
        }
        }
    }

$(document).ready(function(){
  $("input").hover(function(){
    $(this).focus();
    });
});

$(document).ready(function(){
  $("#elastic").hover(function(){
    $(this).select();
    }, function(){
      $(this).blur();
    })
});


alllist = document.querySelectorAll('#table tr:not(.first_tr)').length;

document.querySelector('#elastic').oninput=function()
{

console.log("Я сработала")
  let val = this.value.toUpperCase();
    
  let elasticItems = document.querySelectorAll('#table tr:not(.first_tr)');

  
  if (val != ''){
    elasticItems.forEach(function(elem) {
      if (elem.children[0].innerText.search(val)==-1)
      {
        elem.classList.add('disabledserch');
        td = elem.querySelectorAll('td');
        td.forEach(function(elem){

          elem.children[0].disabled = true;
        })

        
      }
      else {
        elem.classList.remove('disabledserch');
        td = elem.querySelectorAll('td');
        td.forEach(function(elem){

          elem.children[0].disabled = false;
        })
      }
    })}
    else 
    {
      elasticItems.forEach(function(elem) {
        elem.classList.remove('disabledserch');
        alltd = elem.parentNode.querySelectorAll('td');
        alltd.forEach(function(elem){

          elem.children[0].disabled = false;
        })

      }
    )
    }
 
 list = document.querySelectorAll('#table tr.disabledserch').length;
 
  if (list == alllist)
  {
    document.getElementById('not').classList.remove('hide');
    document.getElementById('save1').classList.add('hide');
    console.log("Список пуст");

  }
  else
  {
    document.getElementById('not').classList.add('hide');
    document.getElementById('save1').classList.remove('hide');
    console.log("Что-то есть");
}


      
  };



</script>

{% endblock %}
