{% extends 'base.html' %}

{% block title %} Измерительное оборудование {% endblock %}

{% block content %}

  
<div class ="rightcolon">
  <h2 style="padding-left: 50px;
padding-top: 50px">Анти-рейтинг</h2>



<table id = "tableraiting"  style="padding-left: 30px; padding-top:10px">
<tr><th>Оборудование</th><th>Большое отклонение (кол-во. раз)</th>
{% for r in Rating %}
<tr bgcolor="" height ="20">
  <td>{{r.equipment_name}}</td>
  <td align = "center">{{r.rating}}</td>

</tr>

{% endfor %}

</table>






  
</div>



<script>
count = tableraiting.children[0].childElementCount;

porog = 8;
for (let i=1; i<count; i++)
{
  
  value = tableraiting.children[0].children[i].children[1].textContent;
  proc = (value/porog)*100;
  tableraiting.children[0].children[i].bgColor=Color(proc);


}

function Color(proc)
{
  
  if (proc >= 90)
  {
    cvet='FF0000';
  }
  if (proc < 90 && proc >= 80)
  {
    cvet='FF4600';
  }
  if (proc < 80 && proc >= 70)
  {
    cvet='FF8C00';
  }
  if (proc < 70 && proc >= 60)
  {
    cvet='FFD200';
  }
  if (proc < 60 && proc >= 50)
  {
    cvet='FFFF00';
  }
  if (proc < 50 && proc >= 40)
  {
    cvet='AAFF00';
  }
  if (proc < 40 && proc >= 30)
  {
    cvet='6EFF00';
  }
  if (proc < 30 && proc >= 20)
  {
    cvet='46FF00';
  }
  if (proc < 10 && proc >= 0)
  {
    cvet='00FF00';
  }

return cvet;

}

</script>


  


{% endblock %}